body {
    width: 100%;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.content {
    padding-top: 90px;
}

.header {
    background:#add8e6;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
    font-family: "Microsoft Sans Serif";
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
}

.nav {
    float: right;
}
h1{
    text-align: center;
    color: black;
    font-family: Elephant;
}
h2{
    text-align: left;
    color: black;
    font-family: Elephant;
}
h3{
    text-align: left;
    color: black;
    font-family: Elephant;
}
li{

}
p{
    font-size: 18px;
    color: black;
    font-family: Arial;

}
footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    width: 100%;
}
