body {
    width: 100%;
    margin: auto;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.content {
    padding-top: 90px;
}

.header {
    background: #add8e6;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
    font-family: "Microsoft Sans Serif";
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
}

.nav {
    float: right;
}
h2{
    color: lightblue;
    font-family: Elephant;
    font-size: 25px;
}
button {
    color: #add8e6;
    font-weight: bold;
    background: transparent;
    border: 2px solid #add8e6;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}
button:hover{
    background-color: #add8e6;      color: white;
}

/* -- For Jens' NavBar */
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a2a6a5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
