body {
    width: 100%;
    margin: 0;
    background: #7395ae;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.content {
    padding-top: 90px;
}

.header {
    background:#5d5c61;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
    font-family: "Microsoft Sans Serif";
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 10px;
}

.nav {
    float: right;
}
h1 {
    text-align: center;
    color: white;
    font-family: Elephant;
}

h2{
    text-align: left;
    color: White;
    font-family: Elephant;
}
h3{
    text-align: left;
    color: white;
    font-family: Elephant;
}
li{

}
p{
    font-size: 18px;
    color: white;
    font-family: Arial;

}
footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    width: 100%;
}

/* -- For Jens' NavBar */
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a2a6a5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}